* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.landing-page {
  min-width: 100vw;
  min-height: 100vh;
  overflow-x: hidden;

  background: url(assets/img-sectionO1.png) no-repeat center/cover;
}
.landing-page::-webkit-scrollbar {
  display: none;
}
/* NavBar Container */
.navbar {
  display: flex;
  justify-content: space-between;

  margin-bottom: 5rem;
}

/* Logo EpicAnime V3.0 */
.logo {
  margin: 1rem;
  margin-right: -5rem;
}

/* Home Browse Trailers */
.navlink {
  display: flex;
  gap: 10rem;
  margin-top: 1rem;
  margin-left: -5rem;

  list-style: none;
}

.navlink li a {
  color: #a7a6a6;
  text-decoration: none;

  font-family: "Nunito", sans-serif;
  font-weight: 500;
}

.navlink li a:hover {
  color: #fff;
  transition: 0.3s;
}
/* Final Home Browse Trailers */

/* SearchBar Container e SearcBar Input */
.search-bar {
  margin-top: 1rem;
  margin-left: -10rem;
  margin-right: -5rem;
}

.search-input {
  font-family: "Nunito", sans-serif;
  font-weight: 100;

  width: 25rem;
  height: 2rem;

  text-align: center;

  padding: 10px;

  border: solid 1px #5d5d5d;
  background-color: #191719;
  border-radius: 9999px;
}

.search-icon {
  color: #fff;
  cursor: pointer;

  position: absolute;

  margin-top: 7.5px;
  margin-left: 7px;
}
/* Final SearchBar Container e SearcBar Input */

/* Buttons da NavBar */
.navbutton {
  display: flex;
  gap: 10rem;

  margin: 1rem;
  margin-left: -5rem;
}

.navbutton a {
  text-decoration: none;
}

.favorite-button {
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;

  padding: 10px 13px;

  border: solid 1px #5d5d5d;
  border-radius: 9999px;
  background-color: #181618;
}

.favorite-button:hover {
  border: solid 1px #fff;
  background-color: #343434;
  transition: 0.3s;
}

.profile-button {
  cursor: pointer;

  display: flex;
  align-items: center;

  padding: 12px;

  border: solid 1px #5d5d5d;
  border-radius: 9999px;
  background-color: #181618;
}

.profile-button:hover {
  border: solid 1px #fff;
  background-color: #343434;
  transition: 0.3s;
}

.premium-button {
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: space-evenly;

  width: 150px;
  padding: 10px;

  color: #fff;

  border: solid 1px #5d5d5d;
  border-radius: 9999px;
  background-color: #181618;
}

.premium-button:hover {
  color: #fff024;
  border: solid 1px #fff;
  background-color: #343434;
  transition: 0.3s;
}
/* Final Buttons da NavBar */
/* Final da NavBar Container */

/* SectionO1 Scroll */
.section1 {
  display: flex;
  justify-content: flex-start;
  position: absolute;

  margin: auto;
  gap: 110rem;
  max-width: 100vw;

  animation: section-scroll 50s infinite linear;
}
@keyframes section-scroll {
  from {
    right: -100%;
  }

  to {
    right: 330%;
  }
}
body::-webkit-scrollbar {
  display: none;
}
/* SectionO1 Scroll */
/* SlideO1 */
.one-piece {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1fr;
}

.main-title {
  display: flex;
  flex-direction: column;
}

.title1-section1 {
  display: flex;
  flex-direction: row;
  margin-bottom: 6px;
}

.h1-section1 {
  color: #2ecc71;
  font-family: "Limelight", sans-serif;
  font-weight: 200;
}

.h1-2section1 {
  color: #fff;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
}

.h2-section1 {
  color: #fff;
  font-family: "Montserrat", sans-serif;
  font-weight: 200;
}

.btn-section1 {
  display: flex;
  flex-direction: row;

  margin: 23px 0 85px 0;
}

.explore-now a {
  font-family: "Nunito", sans-serif;
  font-weight: 200;

  text-decoration: none;
}

.explore-now a img {
  margin-left: 3px;
}

.explore-now {
  margin-right: 20px;
  padding: 12px 22px;

  cursor: pointer;

  color: #fff;
  border: solid 1px #b5b5b5;
  border-radius: 6px;
  background-color: #181618;
}

.start-watch a {
  font-family: "Nunito", sans-serif;
  font-weight: 200;

  text-decoration: none;
}

.start-watch a img {
  margin-left: 6px;
}

.start-watch {
  margin-left: 20px;
  padding: 12px 22px;

  cursor: pointer;

  color: #fff;
  border: solid 1px #b5b5b5;
  border-radius: 6px;
  background-color: #cc4a2e;
}

.epic-feed {
  padding: 14px 22px 29px 22px;

  width: 602px;
  height: 172px;

  border: solid 1px #b5b5b5;
  border-radius: 3px 60px 3px 60px;
  background: linear-gradient(to left, #aaaaaa, #181618 90%);
}

.title3-section1 {
  display: flex;
}

.h3-section1 {
  color: #2ecc71;
  font-family: "Limelight", sans-serif;
  font-weight: 200;

  padding-top: 14px;
}

.h3-2section1 {
  color: #2ecc71;
  font-family: "Limelight", sans-serif;
  font-weight: 200;

  padding-top: 14px;
}

.p1-epic-feed {
  color: #fff;
  font-family: "Nunito", sans-serif;
  font-weight: 100;

  padding: 21px 0 12px 0;
}

.p2-section1 {
  display: flex;
  flex-wrap: wrap;

  color: #fff;
  font-family: "Nunito", sans-serif;
  font-weight: 100;

  padding-bottom: 10px;
}

.read-more {
  color: #2ecc71;
  font-family: "Nunito", sans-serif;
  font-style: italic;

  float: right;
}
/* Final da Sugestão Principal de anime -> OnePiece */

/* SlideO2 */
.naruto {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1fr;
}

.main-title2 {
  display: flex;
  flex-direction: column;
}

.title1-section2 {
  display: flex;
  flex-direction: row;
  margin-bottom: 6px;
}

.h1-section2 {
  color: #2ecc71;
  font-family: "Limelight", sans-serif;
  font-weight: 200;
}

.h1-2section2 {
  color: #fff;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
}

.h2-section2 {
  color: #fff;
  font-family: "Montserrat", sans-serif;
  font-weight: 200;
}

.btn-section2 {
  display: flex;
  flex-direction: row;

  margin: 23px 0 85px 0;
}

.explore-now2 a {
  font-family: "Nunito", sans-serif;
  font-weight: 200;

  text-decoration: none;
}

.explore-now2 a img {
  margin-left: 3px;
}

.explore-now2 {
  margin-right: 20px;
  padding: 12px 22px;

  cursor: pointer;

  color: #fff;
  border: solid 1px #b5b5b5;
  border-radius: 6px;
  background-color: #181618;
}

.start-watch2 a {
  font-family: "Nunito", sans-serif;
  font-weight: 200;

  text-decoration: none;
}

.start-watch2 a img {
  margin-left: 6px;
}

.start-watch2 {
  margin-left: 20px;
  padding: 12px 22px;

  cursor: pointer;

  color: #fff;
  border: solid 1px #b5b5b5;
  border-radius: 6px;
  background-color: #cc4a2e;
}

.epic-feed2 {
  padding: 14px 22px 29px 22px;

  width: 602px;
  height: 172px;

  border: solid 1px #b5b5b5;
  border-radius: 3px 60px 3px 60px;
  background: linear-gradient(to left, #aaaaaa, #181618 90%);
}

.title3-section2 {
  display: flex;
}

.h3-section2 {
  color: #2ecc71;
  font-family: "Limelight", sans-serif;
  font-weight: 200;

  padding-top: 14px;
}

.h3-2section2 {
  color: #2ecc71;
  font-family: "Limelight", sans-serif;
  font-weight: 200;

  padding-top: 14px;
}

.p1-epic-feed2 {
  color: #fff;
  font-family: "Nunito", sans-serif;
  font-weight: 100;

  padding: 21px 0 12px 0;
}

.p2-section2 {
  display: flex;
  flex-wrap: wrap;

  color: #fff;
  font-family: "Nunito", sans-serif;
  font-weight: 100;

  padding-bottom: 10px;
}

.read-more2 {
  color: #2ecc71;
  font-family: "Nunito", sans-serif;
  font-style: italic;

  float: right;
}
/* Final da Sugestão Principal de anime -> Naruto */

/* SlideO3 */
.jujutsu-kaisen {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1fr;
}

.main-title3 {
  display: flex;
  flex-direction: column;
}

.title1-section3 {
  display: flex;
  flex-direction: row;
  margin-bottom: 6px;
}

.h1-section3 {
  color: #2ecc71;
  font-family: "Limelight", sans-serif;
  font-weight: 200;
}

.h1-2section3 {
  color: #fff;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
}

.h2-section3 {
  color: #fff;
  font-family: "Montserrat", sans-serif;
  font-weight: 200;
}

.btn-section3 {
  display: flex;
  flex-direction: row;

  margin: 23px 0 85px 0;
}

.explore-now3 a {
  font-family: "Nunito", sans-serif;
  font-weight: 200;

  text-decoration: none;
}

.explore-now3 a img {
  margin-left: 3px;
}

.explore-now3 {
  margin-right: 20px;
  padding: 12px 22px;

  cursor: pointer;

  color: #fff;
  border: solid 1px #b5b5b5;
  border-radius: 6px;
  background-color: #181618;
}

.start-watch3 a {
  font-family: "Nunito", sans-serif;
  font-weight: 200;

  text-decoration: none;
}

.start-watch3 a img {
  margin-left: 6px;
}

.start-watch3 {
  margin-left: 20px;
  padding: 12px 22px;

  cursor: pointer;

  color: #fff;
  border: solid 1px #b5b5b5;
  border-radius: 6px;
  background-color: #cc4a2e;
}

.epic-feed3 {
  padding: 14px 22px 29px 22px;

  width: 602px;
  height: 172px;

  border: solid 1px #b5b5b5;
  border-radius: 3px 60px 3px 60px;
  background: linear-gradient(to left, #aaaaaa, #181618 90%);
}

.title3-section3 {
  display: flex;
}

.h3-section3 {
  color: #2ecc71;
  font-family: "Limelight", sans-serif;
  font-weight: 200;

  padding-top: 14px;
}

.h3-2section3 {
  color: #2ecc71;
  font-family: "Limelight", sans-serif;
  font-weight: 200;

  padding-top: 14px;
}

.p1-epic-feed3 {
  color: #fff;
  font-family: "Nunito", sans-serif;
  font-weight: 100;

  padding: 15px 0 12px 0;
}

.p2-section3 {
  display: flex;
  flex-wrap: wrap;

  color: #fff;
  font-family: "Nunito", sans-serif;
  font-weight: 100;

  padding-bottom: -5px;
}

.read-more3 {
  color: #2ecc71;
  font-family: "Nunito", sans-serif;
  font-style: italic;

  float: right;
}
/* Final da Sugestão Principal de anime -> Jujutsu Kaisen */
